.parrafo{
	width: 260px;
	height: 210px;
}
a{
	text-decoration:none;
	color: #003050;
}
.pr1{
	background: white;
	color: #003050;
}
.pr2{
	background: #003050;
	color: white;
	height: 380px;
}
.pr3{
	background: #00A5B6;
	color: white;
	height: 870px;
}
.nave{
	padding-top:10px;
}
.obra{
	display: inline-block;
	padding: 10px;
}
.pr4{
	width:220px;
	height:50px; 
}
.obra-img{
	width:120px;
	height:120px;
}
.imgs{
	padding-top:5px; 
	width: 230px; 
	height: 140px;
}
.xdxd{
	display: inline-block;
}
.pr5{
	width: 400px; 
}
.footer{
		background: #003050;
		color: white;
		padding: 40px;
}
.TEAM{
	background: #4B8A08;
	color: white;
	padding: 10px;
}
.imgcabeza{
	padding-bottom: 190px;
	width: 300px;
	height: 380px;
}
.carru{
	width: 860px;
	height: 780px;
}
.cabeza{
	display: inline-block;
}
div {
	font-family: "Bitter";
}
.centrar{
	text-align: center;
}
.team{
	height: 40px;
}
.como-funciona{
	padding: 20px;
}
.color{
	background: #212527 ;
}

